/* --- Monitors and Laptops L --- */
@media screen and (max-width: 1600px) {
  /* Sharing */
  .sharing {
    display: none;
  }
}
/* --- Laptop M --- */
@media only screen and (max-width: 1366px) {
  /* Container */
  .container {
    max-width: 1170px;
  }
}
/* --- Tablet L --- */
@media only screen and (max-width: 1240px) {
  /* Container */
  .container {
    max-width: clamp(950px, 95vw, 1100px);
  }

  /* Columns */
  .columns {
    grid-template: auto/1fr;
  }

  .column--wide {
    grid-row: 1/2;
  }
  .column--narrow {
    width: 100%;
  }

  /* Nb */
  .nb {
    margin-left: auto;
    margin-right: auto;
  }

  /* News */
  .news__bottom {
    grid-template: auto/1fr;
  }
  .news__img {
    max-height: 350px;
    overflow: hidden;
  }
  .news--xl .news__img {
    max-height: 400px;
  }
}
/* --- Tablet M --- */
@media only screen and (max-width: 1024px) {
  /* Container */
  .container {
    max-width: clamp(750px, 95vw, 950px);
  }

  /* Header */
  .header__search-close {
    display: flex;
  }
  .header__search-form {
    width: 100%;
  }
  .header__search-inner {
    transform: translateX(-50%);
    position: fixed;
    top: 160px;
    left: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px 42px;
  }
  .header__search-inner .search-input {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    width: 100%;
    padding-bottom: 11px;
    padding-left: 29px;
    background-repeat: no-repeat;
    background-position: left top 7px;
    background-size: 19px;
    background-image: url(../img/icons/search.svg);
  }
  .header__search-inner .search-input__reset {
    width: 35px;
  }
  .header__search-inner.is-active {
    transform: translateX(-50%);
  }

  /* News */
  .news__spotlight-inner {
    grid-template: auto/1fr 1fr;
  }

  /* Category */
  .category__top {
    grid-template: auto/1fr;
  }
}
/* --- Mobile Phones L --- */
@media only screen and (max-width: 768px) {
  /* Container */
  .container {
    padding: 0;
    max-width: none;
    width: calc(100% - 20px);
  }

  /* Burger */
  .burger {
    margin-right: 30px;
  }
  .burger::after {
    display: none;
  }

  /* Header */
  .header__socials {
    display: none;
  }

  /* Menu */
  .menu__inner {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .menu__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu__item {
    padding: 0;
  }
  .menu__central {
    padding: 0;
    border: 0;
    margin: 0;
  }
  .menu__central-lists {
    flex-direction: column;
    gap: 15px;
  }
  .menu__title {
    margin-bottom: 20px;
  }

  /* News */
  .news--horizontal {
    grid-template: auto/1fr;
  }
  .news--m {
    flex-direction: column;
    align-items: flex-start;
  }
  .news--m .news__img--center {
    max-width: none;
  }
  .news__spotlight-inner {
    grid-template: auto/1fr;
  }

  /* Central column */
  .global-list--center .news__img {
    width: 100%;
  }
  .global-list--center .news {
    flex-direction: column;
    align-items: flex-start;
  }

  .global-list--horizontal {
    flex-direction: column;
  }

  /* Category */
  .category__list .news {
    flex-direction: column;
    align-items: flex-start;
  }
  .category__list .news__img {
    max-width: none;
  }

  /* Pagination */
  .pagination {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: flex-start;
  }

  /* Post */
  .post__images {
    grid-template: auto/1fr;
  }
}
/* --- Mobile Phones M --- */
@media only screen and (max-width: 425px) {
  /* Footer */
  .footer__bottom, .footer__bottom-menu ul {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* --- Mobile Phones S --- */
@media only screen and (max-width: 375px) {
  /* Header */
  .header__login span {
    display: none;
  }

  /* Post */
  .post__info {
    flex-direction: column;
    align-items: flex-start;
  }
  .post__date::after {
    display: none;
  }
}